/* UPDATE */

.update-box {
  position: absolute;
  left: 60%;
  transform: translateX(-50%);
  width: 30rem;
  transition: all ease 0.5s;

  .cancel-btn {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: $red-600;
    @include transition(0.5s);

    svg {
      font-size: 2rem;
    }
    &:hover {
      color: $indigo;
    }
  }

  .create-container {
    box-shadow: 4px 4px 10px $dark-clr;

    form {
      gap: 0.5rem;

      .book-category {
        svg {
          margin: -5px 0;
        }
      }
    }
  }

  @media (max-width: 800px) {
    left: 50%;
  }

  @media (max-height: 770px) {
    transform: scale(0.8);
    left: 0%;
  }
  @media (max-height: 600px) {
    transform: scale(0.6);
    left: 0%;
  }
}
