/* primary */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

/* title */
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

$ff-primary: "Noto Sans", sans-serif;
$ff-title: "Aboreto", cursive;

$light-clr: #e0e0e0;
$dark-clr: #212121;
$white-clr: #fafafa;
$gray-clr: #9e9e9e;
$lightgray-clr: #bdbdbd;
$red-600: #e53935;
$indigo: #3f51b5;
$light-indigo: #7986cb;
